body {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Lobster", cursive;
  margin-top: 35px;
  font-size: 50px;
}

.wrapper {
  width: 350px;
  height: 500px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.loginBox > input {
  width: 258px;
  height: 36px;
  margin-top: 10px;
  padding: 9px;
  justify-content: center;
  border: 1px solid gray;
}

input {
  margin-top: 40px;
  border-radius: 3px;
  align-items: center;
  background-color: #fafafa;
}

.btn {
  width: 280px;
  height: 35px;
  margin-top: 20px;
  background-color: #c4e0fd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  /* cursor: pointer; */
}

p {
  position: fixed;
  bottom: 100px;
  font-size: small;
  color: navy;
  bottom: 210px;
}
