@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");

hr {
  width: 100%;
  background: gainsboro;
  height: 1px;
  border: 0;
}
/* 헤더 */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30px;
}

img:not(.search_logo) {
  width: 22px;
  height: 22px;
}

.search_logo {
  width: 10px;
  height: 10px;
}

.header_logo {
  display: flex;
}

.header_logo > span {
  align-items: center;
  margin-left: 5px;
  font-family: "Lobster Two", cursive;
}

.header_search {
  width: 200px;
  background-color: #efefef;
  border-radius: 5px;
}

.header_search > img {
  margin-left: 10px;
}

.header_search > input {
  border: none;
  background: transparent;
  height: 25px;
  outline: none;
}

.header_img > img {
  margin-right: 10px;
}
/* 인스타그램 섹션 */
section {
  display: flex;
  justify-content: center;
}

.container {
  width: 480px;
  max-height: 850px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin-top: 30px;
}

.top_content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top_content > img {
  width: 42px;
  height: 42px;
}

.top_content > span {
  font-weight: 700;
  margin-top: 7px;
  margin-left: -285px;
}

.middle_content > img {
  width: 100%;
  height: 500px;
}

/* 좋아요 이모티콘 */
.reaction {
  padding: 5px;
}

.reaction > img:nth-child(-n + 4) {
  margin-right: 3px;
}

.reaction > img:nth-child(4) {
  margin-left: 355px;
  margin-right: 0;
}

/* 게시글 */
.sentence {
  line-height: 8px;
  margin: 8px;
}

.sentence > p:nth-child(1) {
  margin-top: 3px;
  font-weight: 600;
}

.sentence > p > b {
  margin-right: 5px;
}

.sentence > p:nth-child(5) {
  color: gray;
}

.sentence > span:nth-child(6) {
  font-size: 11px;
}

/* 댓글 */
.comment {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  padding: 5px;
  border-top: 1px solid gainsboro;
}

.highlight {
  font-weight: 800;
  margin-right: 8px;
}

.comment > input {
  border: none;
  width: 380px;
  margin-left: 10px;
  height: 30px;
  outline: none;
}

.comment > button {
  width: 40px;
  color: dodgerblue;
  background-color: transparent;
  border: none;
}
